<div class="w-full h-full bg-rose-100">
  <div class="todoWrapper p-2 w-full flex items-start flex-wrap">
    <div
      *ngFor="let item of todo$ | async; index as i"
      class="todoBox m-2 w-[300px] h-auto p-2 bg-white rounded shadow order-2"
    >
      <div
        class="header font-bold capitalize flex justify-between items-center"
      >
        <div>{{ item.header }} {{ item.content.length }}</div>
        <span (click)="handleDeleteTodo(item.id)" class="cursor-pointer"
          ><mat-icon class="custom-class" color="primary">close</mat-icon></span
        >
      </div>

      <ul role="listbox">
        <li
          *ngFor="let it of item.content"
          role="listitem"
          class="flex items-center justify-between px-3 py-2 border-b-2 border-gray-100 hover:bg-gray-100"
        >
          <div>{{ it.content }}</div>
          <span (click)="handleDeleteTodoItem(item.id, it)"
            ><mat-icon class="custom-class cursor-pointer" color="primary"
              >close</mat-icon
            ></span
          >
        </li>
      </ul>
      <div class="flex items-center justify-center my-3">
        <input
          [(ngModel)]="taskInputs[i]"
          [id]="item.id"
          type="text"
          placeholder="Add Your Item"
          class="outline-none border-2 border-gray-100 p-2 rounded-sm"
        />
        <button
          (click)="handleCreateTodoItem(item.id, i)"
          class="rounded-md py-2 px-4 text-white bg-green-300 ml-2"
        >
          save
        </button>
      </div>
    </div>
    <div class="flex items-center justify-center my-3 order-1 sm:order-2">
      <input
        [(ngModel)]="todoName"
        type="text"
        placeholder="Name of ToDo"
        class="outline-none border-2 border-gray-100 p-2 rounded-sm"
      />
      <button
        (click)="handleCreateTodo()"
        class="rounded-md py-2 px-4 text-white bg-green-300 ml-2"
      >
        create new todo
      </button>
    </div>
  </div>
</div>
